{% assign enabled_flag = false %}
{%- if product and product.metafields.wearify.enabled -%}
  {% assign enabled_flag = product.metafields.wearify.enabled.value %}
{%- elsif block and block.settings and block.settings.product and block.settings.product.metafields.wearify.enabled -%}
  {% assign enabled_flag = block.settings.product.metafields.wearify.enabled.value %}
{%- endif -%}

{% if enabled_flag == true or enabled_flag == 'true' %}
  <div id="root"></div>
{% endif %}


